*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    background-color: #FAFAFA;
    overflow-x: hidden;
}

@font-face{
    font-family: Alterwave;
    src: url("./resources/fonts/Alterwave-Regular.otf");
}

@font-face{
    font-family: Sinisuka;
    src: url("./resources/fonts/Sinisuka.otf");
}

@font-face{
    font-family: Anton;
    src: url("./resources/fonts/Antone\ DEMO.ttf");
}

@font-face{
    font-family: Poppins;
    src: url("./resources/fonts/Poppins-Regular.ttf");
}

@font-face{
    font-family: "Poppins-Thin";
    src: url("./resources/fonts/Poppins-Thin.ttf");
}

@font-face{
    font-family: "Poppins-Bold";
    src: url("./resources/fonts/Poppins-Bold.ttf");
}

@font-face{
    font-family: "OpenSans";
    src: url("./resources/fonts/OpenSans-Regular.ttf");
}

@font-face{
    font-family: "OpenSans-Bold";
    src: url("./resources/fonts/OpenSans-Bold.ttf");
}

@font-face{
    font-family: Gilroy-light;
    src: url("./resources/fonts/gilroy-light.otf");
}

@font-face{
    font-family: Gilroy-EBold;
    src: url("./resources/fonts/Gilroy-ExtraBold.otf");
}

@font-face{
    font-family: Nunito-light;
    src: url("./resources/fonts/Nunito-Light.ttf");
}

@font-face{
    font-family: Playfair-Display;
    src: url("./resources/fonts/PlayfairDisplay-Regular.ttf");
}

/* CSS-COMPONENTS */
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer{
    cursor: pointer;
}
/* END-CSS-COMPONENTS */

header{
    width:100%;
    height:100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 1% 7% 1% 7%;
}

.brand-name{
    font-family: Alterwave;
    font-weight: 700;
    font-size: 2.25rem;
    transform: translate(0, 17.5%);
}

.nav-list ul{
    list-style-type: none;
    display: flex;
    transform: translate(5%);
}

.nav-item{
    margin:0 25px;
    color: #011627;
    font-family: Poppins;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    font-size: 0.85rem;
}

.active{
    color:#DB9C62;
}

.active::after{
    content: '';
    position:absolute;
    bottom:-7px;
    left:42.5%;
    width:7px;
    border-radius: 100px;
    border-bottom: 7px solid #DB9C62;
}

.user-list-item{
    width:2.3rem;
    height:2.3rem;
    border-radius: 100px;
    margin:0 10px;
    background-color:#ffffff;
}

main{
    /* background-color: cadetblue; */
    display: flex;
    height: 90%;
    padding:0 7% 0 7%;

}
.main-left{
    width:45%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.text-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-box-content{
    display: flex;
    width:80%;
    color:#3D405B;
    flex-direction: column;
    justify-content: flex-end;
    transform: translate(10%,0%);
}
.text-box-content h4{
    font-family: Gilroy-light;
    font-weight:100;
    font-size: 1.1rem;
    letter-spacing: 2px;

}

.text-bold{
    font-family: "Poppins-Bold";
    font-weight: 900;
    font-size: 2.75rem;
    margin:0 0 3px 0;
}

.text-thin{
    font-family: "Poppins-Thin";
    font-weight: 600;
    font-size: 2.75rem;
}

.text-p{
    font-family: Nunito-light;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.785rem;
    margin:3px 0 15px 0;
    color:#7F8487;
}

.shop-btn{
    width:8.5rem;
    height:2.25rem;
    background-color: #20AD69;
    color:#FFFFFF;
    border:none;
    font-size: 0.7rem;
    letter-spacing: 1.5px;
}

.info-more{
    margin-top:9%;
    height:34%;
    display: flex;
    /* transform: translate(0%,10%); */
    align-items: flex-end;
    align-self: flex-end;
}


.info-more img{
    height:100%;
    flex-basis: 30%;
    transform: translate(-10%,10%);
    position: relative;
    z-index:100;
}

.allen-offers{
    flex-basis: 45%;
    display: flex;
    background-color: #F2F2F2;
    flex-direction: column;
    height:55%;
    padding:2.5% 4%;
    font-family: "Poppins-Thin";
}

.allen-style{
    font-size: 1rem;
    font-family: "Poppins-Thin";
    margin-bottom:0.6rem ;
}

.more{
    font-family: Poppins;
font-weight: 600;
font-size: 0.6rem;
letter-spacing: 1px;
position: relative;
}

.more::after{
    content: '';
    position:absolute;
    bottom:-3px;
    left:0%;
    width:10%;
    border-radius: 100px;
    border-bottom: 1px solid #000000;
    transition: all 0.25s ease-out;
}

.more:hover::after{
width:30%;
transition: all 0.25s ease-out;
}

.offer-box{
    flex-basis: 25%;
    height:55%;
    padding:2%;
    flex-direction: column;
    background-color: #E8E8E8;
}

.offer-box h1{
    font-family: Poppins-Bold;
    font-weight: 900;
    color:#0A2626;
    font-size: 2.1rem;
}

.offer-box p{
    font-size: 0.50rem;
    text-align: center;
    margin-top:3px;
    font-family: "OpenSans";
    font-weight: 500;
    color:#011627;
}
.main-right{
    width:59%;
    display: flex;
    position: relative;
}

.hero-main{
    width:100%;
    /* height:106%; */
}

.main-right::after{
content:'';
position: absolute;
width:120%;
height:100%;
border:1px solid #3D405B;
border-radius: 1000px;
/* border-radius: 1000px; */
/* border-top:2px solid #3D405B; */
/* border-radius: ; */
/* border-radius:1000px 1000px 0 0; */
/* border-right-radius: 1000px; */

transform: translate(-11%,40%);
z-index: -10;
}

.main-right::before{
    content: '';
    position: absolute;
    width:200%;
    height:170%;
z-index: -10;
left:-42.5%;
top:10%;
border-radius: 1000px;
    /* border-radius: 2000px; */
    border: 1px solid rgba(61, 64, 91, 0.1);
    /* transform: translate(-22.5%); */

}



.left-caro{
    transform: translate(0, -100%);
}
.right-caro{
    height:70%;
}

#sweaters{
    padding:4% 7% 0 7%;
    background:linear-gradient(to bottom, #F4F6F5, #EDEEF0) ;
}

.brand-collab{
    margin:0.25% 0 2.5% 0;
    padding:0 5%;
    z-index:10;
    position: relative;
    background-color: #ffffff;
}

.brand-collab ul{
    list-style-type: none;
    box-shadow: 0px 52px 105px rgba(0, 0, 0, 0.05);
}

.brand-item{
flex-basis: 15%;
margin:5%;
color:#A1A1A1;
}

.carvat{
    font-family: OpenSans-Bold;
    font-size: 1.4rem;
    font-weight: 300;
}

.sinisuka{
    font-family: Sinisuka;
    font-size: 1.4rem;
    font-weight: 400;
}

.anton{
    font-family: Anton;
    font-size: 1.2rem;
    font-weight: 600;
}

.gilroy-ebold{
    font-family: Gilroy-EBold;
    font-size: 1.4rem;
    font-weight:100;
}

.playfair{
    font-family: Playfair-Display;
    font-size: 1.4rem;
    font-weight: 700;
}


.sweater-main img{
    width:55%;
    height:100%;
    transform: translate(-10%);
}

.sweater-main-right{
    height:100%;
    width: 45%;
    transform: translate(-6%,-7%);
}


.sweater-main-right-info{
    margin-bottom: 5rem;
}

.sweater-main-right-info h1{
    margin-bottom: 1rem;
}

.sweater-main-right-info p{
    margin-bottom: 1.5rem;
}

.sweater-group{
    transform: translate(0,5%);
}


.sweater-orange{
font-family: OpenSans;
font-weight:400;
font-size: 0.8rem;
letter-spacing: 2px;
color:#CF7500;
}

.sweater-item{
    flex-direction: column;
    flex-basis: 30%;
    margin-right: 3.33%;
    justify-content: space-between;
}
.sweater-item img{
    margin-bottom: 2rem;
    transform: scale(1.5);
}

.sweater-item h3{
    text-align: center;
    font-size: 0.9rem;
    font-family: Poppins;
    font-weight: 500;
    color:#656565;
    margin-bottom: 0.15rem;
}

.sweater-item p{
    font-family: Poppins;
    font-weight: 800;
    font-size: 0.9rem;
    color:#000000;
}

.sweater-item p span{
    color:rgba(1, 22, 39, 0.288);
    text-decoration:line-through;
    margin-right:0.3rem;
}

.girls{
    width: 100%;
    position: relative;
    height: 70vh;
    background-color: blue;
}

.woolen-kashmiri{
    width:50%;
    position: relative;
    height:100%;
}

.woolen-kashmiri img, .girl-2 img{
    width: 100%;
    height:100%;
}

.woolen-kashmiri-info{
    position: absolute;
    bottom:5%;
    right:5%;
    padding:5% 6%;
    background-color: rgba(255, 255, 255, 0.47);
}

.woolen-kashmiri-info h2{
    font-size: 1.3rem;
}
.girl-2{
    width:30%;
    height:100%;
    background-color: black;
}

.girl-2 img{
    height:100%;
}


.girls-set{
    width:25%;
    height:100%;
    background-color: pink;
    flex-direction: column;
}

.girls-set img, .girls-info{
    width: 100%;
    height:50%;
}

.girls-info{
    display: flex;
    padding:2.5% 10%;
    flex-direction: column;
}

.girls-info h1{
    font-family: Poppins-Bold;
    font-weight: 900;
    color:#0A2626;
    font-size: 3.5rem;
    margin-bottom: -0.5rem;
}

.girls-info h2{
    font-size: 1rem;
}

#glasses{
    padding:1% 5% 0% 10%;
    width: 100vw;
    position: relative;
}

.glasses-top{
    width:100%;
    margin:0;
    position: relative;
    /* background: #000; */
    z-index: -11;
    height: 30%;
}

.glasses-top h1{
    color:#EEEFF1;
    font-size: 12.25rem;
    font-weight: 100;
    font-family: Poppins;
}

.glasses-top h1 span{
    font-family: Poppins-Bold;
    font-weight: 900;
}

.glasses-bottom{
    height: 70%;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding:5% 2% 0 2%;
    /* background-color: #3D405B; */
}

.glasses-left{
    flex-basis: 35%;
}

.glasses-left h1{
    color:#14322D;
}

.glasses-left p{
    width:70%;
}
.glasses-right{
    flex-basis:25.5% ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.glasses-right img{
    height: 77.5%;
    transform: translate(0,-12.5%);

}
.glasses-color{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin:0.5rem 0;
}
.glasses-right-info h3{
font-family: Poppins;
font-weight: 500;
font-size: 1.1rem;
color:#656565;
letter-spacing: 2px;
}

.glasses-color-item{
    width:1.5rem;
    height:1.5rem;
    border-radius: 100px;
}

.g-yellow{
    background: conic-gradient(from 180deg,#FFD600,#A59400);
}

.g-teal{
    background: conic-gradient(from 180deg,#7ED5E1,#395448);
}

.g-red{
    background: conic-gradient(from 180deg,#9B2121,#FF5F5F);
}

.g-grey{
    background: conic-gradient(from 180deg,#7F8487,#AAACAD);
}

.g-green{
    background: conic-gradient(from 180deg,#00d2ef,#00bd84);
}

.g-black{
    background: conic-gradient(from 180deg,#2b1313,#868686);
}

.g-dgreen{
    background: conic-gradient(from 180deg,#7ee1a0,#396448);
}

.g-blue{
    background: conic-gradient(from 180deg,#0094ff,#1f2f81);
}

.glasses-color-item:not(:last-child){
    margin-right:0.5rem;

}
.glasses-right-info p{
    color:#7F8487;
    font-family: Nunito-light;
    font-size: 0.85rem;
    width:85%;
    margin-bottom: 1rem;
}

.glasses-right-info h1{
    font-family: Poppins-Bold;
    font-weight: 500;
    color:#14322D;
    font-size: 3rem;
}

.glasses-middle{
    position: absolute;
    bottom:0%;
    right:29%;
    width:41%;
    height:105%;
}
.glasses-circle-big{
    position: absolute;
    bottom:5%;
    right:24%;
    height:75%;
    border: 1px solid rgba(61, 64, 91, 0.30);
        border-radius:10000px;
    width:51%;

    z-index:-10;
}

.glasses-circle-small{
    position: absolute;
    bottom:15%;
    right:32.5%;
    height:55%;
    border: 1px solid #3D405B;
    border-radius:10000px;
    width:35%;
    z-index:-10;
}

.glasses-middle::after{
    width:10rem;
    content:'';
    height: 10rem;
    position: absolute;
    border:1px solid rgba(61, 64, 91, 0.3);
    border-radius: 1000px;
}

.glasses-group-div{
    width:100%;
    height:30vh;
    padding:0% 13%;
    background-color: #ffffff;
}

.glasses-group{
    flex-basis: 75%;
    height:100%;
    padding:5%;
    justify-content: space-between;
}

.glasses-item{
    flex-direction: column;
}

.glasses-item > *{
    margin-bottom: 0.8rem;
}

.glasses-item p{
    font-size: 1rem;
    font-family: Poppins;
    color:#656565;
}

.glasses-item img{
max-width: 9rem;
max-height: 3rem;
}

.glasses-girl{
    height:100%;
    flex-basis: 25%;
    position: relative;
}

.glasses-girl img{
    height: 100%;
}

#buy{
    width:100vw;
    height: 100%;
    display: flex;
}

.buy-left{
    width:51%;
    height:100%;
}

.buy-top{
    padding:15% 22% 7% 23%;
    width: 100%;
    background-color: #F4F2EE;
}
.buy-top .text-bold{
    color:#14322D;
}
.buy-top .text-p{
    font-size: 0.8rem;
    letter-spacing: 0;
}
.buy-bottom{
    height:50%;
    padding:0 0 0 23%;
    width: 100%;
}

.buy-bottom-first-top{
    height: 50%;
    width:100%;
    display: flex;
    flex-direction: column;
    padding:8% 0;
}

.size-group{
    margin-bottom: 9%;
    display: flex;
    justify-content: flex-start;
}
.size-item{
    margin-right:2rem;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: Poppins;
    position: relative;
}

.size-item .active{
    color: #CF7500;
}

.buy-btn-group{
    display: flex;  
}

.buy-btn-group > *{
    margin-right: 1rem;
}

.buy-now{
    height:4rem;
    border:none;
    background-color: #20AD69;
    color:white;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 1px;
    position: static;
    width: 12rem;
}

.buy-now img{
    height:1.6rem;
    margin-right: 0.85rem;
}

.cart-btn{
    height:4rem;
    width:4rem;
    background-color: #CBFFE6;
}

.cart-btn img{
    height:1.6rem;
}


.buy-bottom-group{
    display: flex;
    height:50%; 
    width:100%;
    justify-content: space-between;
}

.buy-bottom-left{
    width:50%;
    height:100%;
}

.buy-bottom-left h3{
    font-family: Poppins;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 7%;
    color:#011627;
}

.buy-bottom-left h3 span:first-child{
    margin-right: 2rem;
}

.buy-bottom-left h3 span{
    position: relative;
}

.buy-bottom-left-animate::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #CF7500;
    bottom:-10%;
    left:0;
    transition: all 0.25s ease-out;
    width:50%;
}


.buy-bottom-left-animate:hover::after{
width:100%;
transition: all 0.25s ease-out;
}
.buy-bottom-left p{
    color:#7F8487;
    font-family: Nunito-light;
    font-size: 0.80rem;
}

.buy-bottom-right{
    display: flex;
    height:100%;
    width:40%;
    transform: translate(0, -1%);
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}
.buy-bottom-right-top{
    display: flex;
    width:100%;
    justify-content: flex-end;
}
.buy-bottom-right-down{
    display: flex;
    justify-content: flex-end;
}

.buy-bottom-right-down img{
    width:47%;
}

.buy-bottom-right-top img{
    margin:0 6% 4% 6%;
    width:34%;
    height:20%;
}

.buy-right{
    height:100%;
    width:49%;
    position: relative;
}

.buy-right img{
    height:100%;
    width:100%;
}

.buy-right-wear{
    position: absolute;
    top:6%;
    font-family: Gilroy-EBold;
    font-weight: 900;
    color:#060215;
    width:100%;
}

.buy-right-wear span{
    font-size:5rem;
    letter-spacing: 2rem;
}

.buy-right-wear span:nth-child(1), .buy-right-wear span:nth-child(3){
    transform: rotate(-20.79deg);
}


.buy-right-wear span:nth-child(2), .buy-right-wear span:nth-child(4){
    transform: rotate(18.25deg) translate(0,-15%);
}

.buy-right-info{
    position: absolute;
    bottom:5%;
    width:100%;
    left:7%;
    color:#FAFAFA;
}
.buy-right-info p{
    width:57%;
    font-family: Nunito-light;
    font-size: 0.8rem;
}

#threegirls{
    transform: translate(0,-1%);
    position: relative;
}
.girl-item-group{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.girl-item{
    display: flex;
    width: 33.33%;
    height:100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.girl-item img{
    width:100%;
    height:100%;
}
.girl-item-info{
    display: flex;
    position: absolute;
    bottom:-8.5%;
    justify-content: center;
    height: 15rem;
    width:110%;
}

.girl-item-info .allen-offers h2{
    font-size: 1.3rem;
}
.girl-item-info .allen-offers h5{
    font-size: 0.9rem;
    font-weight: 500;
}
.girl-item-info .offer-box h1{
    font-size: 3rem;
}

.girl-item-info .offer-box p{
    font-size: 0.8rem;
}

#women{
    width:100vw;
    height:100vh;
    background-color: #3D405B;
}
#women .size-group{
    width:100%;
    background-color: #3D405B;
    padding:10% 0;
    width:100vw;
}